<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"/>
        <script>
            tailwind.config = {
                theme: {
                extend: {
                    fontFamily: {
                    poppins: ["Poppins"],
                    },
                },
                },
            };
            </script>
    </head>
    <body>

        <h1>Login</h1>
        <form action="/login" method="POST">
            <p>
                <label form="email">Email</label>
                <br>
                <input type="text" name="email" id="email">
            </p>
            <p>
                <label form="password">Password</label>
                <br>
                <input type="text" name="password" id="password">
            </p>
            <p>
                <input type="submit" value="login">
            </p>
        </form>
        <div>
            <p>
                <a href="/signup">Sign Up</a>
            </p>
        </div>
    </body>
</html>