<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sign Up</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"/>
        <script>
            tailwind.config = {
                theme: {
                extend: {
                    fontFamily: {
                    poppins: ["Poppins"],
                    },
                },
                },
            };
            </script>
    </head>
    <body>
        <h1>Sign Up</h1>
        <p>Password Rules</p>
        <p>Has minimum 8 characters in length.</p>
        <p>At least one uppercase English letter.</p>
        <p>At least one lowercase English letter. </p>
        <p>At least one digit.</p>
        <p>At least one special character.</p>
        <p>One account per email</p>
        <p>Username must be unique</p>
        <form action="/signup" method="POST" enctype="multipart/form-data">
            <p>
                <label form="username">Username</label>
                <br>
                <input type="text" name="username" id="username">
            </p>
            <p>
                <label form="email">Email</label>
                <br>
                <input type="text" name="email" id="email">
            </p>
            <p>
                <label form="password">Password</label>
                <br>
                <input type="text" name="password" id="password">
            </p>
            <p>
                <label form="hometown">Hometown</label>
                <br>
                <input type="text" name="hometown" id="hometown">
            </p>
                <label form="profile_picture">Profile Picture</label>
                <br>
                <input type="file" name="profile_picture" id="profile_picture">   
            <p>
                <input type="submit" value="signup">
            </p>
        </form>
    </body>
</html>